*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: lightblue;
    width: 80%;
    margin: auto;
}
header{
    width: 100%;
    background: #c1b2a4;
    text-align: center;
    border: 1px solid #000;
    margin: 20px auto;
}
.contenedor{
    width: 100%;
    height: 600px;
    background: lightpink;
}
footer{
    width: 100%;
    height: 50px;
    background: lightgoldenrodyellow;
    border: 1px solid gainsboro;
    margin: 20px auto;
    text-align: center;
    padding: 15px;
}